@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #4B5563;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6B7280;
}
